* {
	background-image: none;
}
window {
	background-color: rgba(29, 32, 33, 0.9);
}
button {
    color: #FFFFFF;
	/*background-color: #504945;*/
    border : none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}

button#logout:focus, button#logout:active, button#logout:hover {
    /*background-color: #98971a;*/
    background-color: rgba(152, 151, 26, 0.3);
	outline-style: none;
}
#logout {
    background-image: image(url("/home/manan-sharma/.config/wlogout/icons/system-log-out-icon.png"));
}

button#lock:focus, button#lock:active, button#lock:hover {
	/*background-color: #d65d0e;*/
	background-color: rgba(214, 93, 14, 0.3);
	outline-style: none;
}
#lock {
    background-image: image(url("/home/manan-sharma/.config/wlogout/icons/system-lock-screen-icon.png"));
}

button#shutdown:focus, button#shutdown:active, button#shutdown:hover {
	/*background-color: #cc241d;*/
	background-color: rgba(204, 26, 29, 0.3);
	outline-style: none;
}
#shutdown {
    background-image: image(url("/home/manan-sharma/.config/wlogout/icons/system-shutdown-icon.png"));
}

button#hibernate:focus, button#hibernate:active, button#hibernate:hover {
    /*background-color: #b16286;*/
    background-color: rgba(177, 98, 134, 0.3);
	outline-style: none;
}
#hibernate {
    background-image: image(url("/home/manan-sharma/.config/wlogout/icons/system-suspend-hibernate-icon.png"));
}

button#suspend:focus, button#suspend:active, button#suspend:hover {
    /*background-color: #458588;*/
	background-color: rgba(69, 133, 136, 0.3);
	outline-style: none;
}
#suspend {
    background-image: image(url("/home/manan-sharma/.config/wlogout/icons/system-suspend-icon.png"));
}


button#reboot:focus, button#reboot:active, button#reboot:hover {
    /*background-color: #d79921;*/
	background-color: rgba(215, 153, 33, 0.3);
	outline-style: none;
}
#reboot {
    background-image: image(url("/home/manan-sharma/.config/wlogout/icons/system-reboot-icon.png"));
}

button#firmware:focus, button#firmware:active, button#firmware:hover {
	/*background-color: #d79921;*/
    background-color: rgba(215, 153, 33, 0.3);
	outline-style: none;
}
#firmware {
    background-image: image(url("/home/manan-sharma/.config/wlogout/icons/applications-development-icon.png"));
}

button#hybrid:focus, button#hybrid:active, button#hybrid:hover {
	/*background-color: #d79921;*/
    background-color: rgba(69, 133, 136, 0.3);
	outline-style: none;
}
#hybrid {
    background-image: image(url("/home/manan-sharma/.config/wlogout/icons/system-suspend-icon.png"));
}





